<app-header></app-header>

<div id="error-page">
   <div class="content">
      <h2 class="header" data-text="404">
         404
      </h2>
      <h4 data-text="Opps! Page not found">
         Opps! Page not found
      </h4>
      <p>
         Sorry, the page you're looking for doesn't exist.
      </p>
      <div class="btns">
         <a routerLink="">return home</a>

      </div>
   </div>
</div>

<app-footer></app-footer>